@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
body {
    background-color: white;
}

.mapdiv path {
    fill: white;
    stroke: black;
    stroke-width: .45px;
}

.mapdiv path:hover {
    fill: red;
    transition: all 0.5s ease;
    cursor: pointer;
    transform: scale(1.000005);
}

#svg2 {
    width: 50%;
    /* Adjust the width as needed */
    height: auto;
    /* Automatically adjust the height to maintain aspect ratio */
    transition: all 10s ease;
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 30px 50px;
    background: #fff;
    cursor: pointer;
    margin-right: 30px;
}

.card:hover {
    height: 320px;
}

.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-80px);
    z-index: 99;
}

img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.content {
    padding: 10px 20px;
    text-align: center;
    transform: translateY(-450px);
    opacity: 0;
    transition: 0.3s;
}

.card:hover > .content {
    opacity: 1;
    transform: translateY(-180px);
}

.content h2 {
    color: #7f9ead;
}

/* Style for pop-up container */
#popup-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10000;
    display: flex;
    flex-direction: row;
}

/* Individual pop-up boxes */
.popup-box {
    display: none;
    margin-left: 20px;
}
